@keyframes kaka {
  0% {
    background-position: 0 0, 0 100%, 100% 100%, 100% 0;
  }

  25% {
    background-position: 0 100%, 100% 100%, 100% 0, 0 0;
  }

  50% {
    background-position: 100% 100%, 100% 0, 0 0, 0 100%;
  }

  75% {
    background-position: 100% 0, 0 0, 0 100%, 100% 100%;
  }

  100% {
    background-position: 0 0, 0 100%, 100% 100%, 100% 0;
  }
}

.gradients {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -10;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  background-blend-mode: hard-light;
  background-image: radial-gradient(circle at center, #fa6a16 0%, transparent),
    radial-gradient(circle at center, #a5db5f 0%, transparent),
    radial-gradient(circle at center, #2085ff 0%, transparent),
    radial-gradient(circle at center, #ff0674 0%, transparent);
  background-position: center center;
  background-size: 200% 200%;
  animation: kaka 14s linear infinite;
}
